<<<<<<< HEAD

=======
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
  font-family: 'Oswald', sans-serif;
    background: #e6e6e6;
}

h1, h2, h3, h4 {
  color: #ffffff;
}

h1 {
  font-size: 60px;
  line-height: 30px;
    text-align: left;
    padding-left: 400px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #5a605e;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}
cite, em {
  font-style: italic;
}

/*
  ========================================
  Header
  ========================================
*/

.headertings{
    background: #352d2f;
    padding-bottom: 125px;
}

.logotings{
    padding: 0px;
}

.nav{
    padding-right: 500px;
    color: cornsilk;
}

.navsocmed{
    float: right;
    text-align: center;
}

a{
    padding: 5px;
    color: white;
}

.socmed{
    float: right;
}

.tagline{
    text-align: center;
    padding-top: 75px;
    font-size: 60px;
    letter-spacing: 10px;
    color: azure;
    line-height: normal;
}

.info{
    color: azure;
    font-size: 15px;
    text-align: center;
    font-weight: 50;
    letter-spacing: .5px;
    line-height: 20px;
    padding-top: 40px;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-weight: 100;
  letter-spacing: .3px;
  margin: 0;
  text-transform: uppercase;
    background: #ffffff;
}

.btn-alt {
    margin-left: 560px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
}
.btn-alt:hover {
  background:;
  color: cornsilk;
}

.btn-default {
  background: #000000;
  padding: 11px 11px;
  font-size: 10px;
}
.btn-default:hover {
  background: #000000;
}

.trial{
    margin-top: 50px;
    background: #ffffff;
}

/*
  ========================================
  getintach
  ========================================
*/
.getintach{
    padding-bottom: 75px;
    background: #352d2f;
    margin-top: 30px;
    margin-bottom: 30px;
    color: azure;
}

.taa{
    text-align: center;
    font-size: 30px;
    color: azure;
    padding: 20px;
}

.exp{
    text-align: center;
    font-size: 15px;
    padding: 20px;
    color: azure;
    font-weight: 40px;
}
.gitn{
    text-align: center;
    text-underline-position: below;
}

/*
  ========================================
  impress
  ========================================
*/

.impress{
    background: #352d2f;
    text-align: center;
    color: azure;
}

.o25{
    line-height: 20px;
    letter-spacing: .8px;
    padding: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.imgs{
    display: inline-block;
    padding: 30px;
    margin-left: 75px;
}
img{
    padding: 25px;
}

.own{
    padding: 10px;
}

/*
  ========================================
  lastsec
  ========================================
*/

/*
  ========================================
  Footer
  ========================================
*/
.footer
.small{
    float: left;
    padding-left: 200px;
}
.tp{
    float: right;
    color: black;
    font-size: 8px;
    border: solid #777 0;
}

.fea {
    background-color: red;
    padding: 10px;
    float: right
}
.fea h1{
    text-align: left;
}
.fea h2{
    
}

.high {
    padding: 40px;
    padding-right: 208px;
    background-color: azure;
    float: left;
}
.high h2{
    text-align: left;
    color: black;
}

.imgi {
    float: left;
    display: inline-block;
}

.hist {
    float: right;
    padding: 20px;
    text-align: left;
}

.log {
    float: right;
    padding-right: 100px;
    padding-left: 100px;
}

.di {
    color: black;
    border: solid #777 10px;
    margin-left: 10px;
    margin-right: 10px;
}
